<span class="page_title">スケジュール一覧</span><br>

<% if flash[:notice] %>
    <span class="notice"><%= flash[:notice] %></span>
<% end %>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th>詳細リンク</th>
            <th>編集リンク</th>
            <th>削除実施</th>
        </tr>
    </thead>

    <tbody>
     <% @plans.each do |plan| %>
       <tr>
         <td><%= plan.id %></td>
         <td><%= plan.title %></td>
         <td><%= plan.start_date %></td>
         <td><%= plan.end_date %></td>
         <td>
            <% if plan.all_day == "1" %>
                <%= "○" %>
            <% else %>
                <%= "" %>
            <% end %>
        </td>
         <td><%= plan.updated_at.to_s(:datetime_jp) %></td>
         <td>
            <%= link_to "詳細", plan_path(plan), class:"link_span" %>
        </td>
         <td>
            <%= link_to "編集", edit_plan_path(plan), class:"link_span" %>
         </td>
         <td>
            <%= link_to "削除", plan_path(plan), method: :delete, data: { confirm: "本当に削除しますか？"}, class:"link_span"%>
        </td>
       </tr>
     <% end %>
   </tbody>
</table>
<span class="content_span">登録件数: <%= @plans.size %>件</span><br>
<span class="content_span">本日の日付: <%= Date.today.strftime("%Y/%m/%d") %></span><br>
<%= link_to "スケジュールを新規追加", new_plan_path, class:"link_span" %>
